<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-left">Who is MVP?</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- <img src="img/about/Yasmeen-CACalls-Story.jpg" width="45%" align="left" style="padding:0 20px 0 0;"/> -->
                    <img src="img/about/Yasmeen-CACalls-Story.jpg"/>
                    <p>MVP is a collaboration of California’s strongest community-based networks: Alliance of Californians for Community Empowerment (ACCE), Asian Pacific Environmental Network (APEN), California Calls, the Coalition for Humane Immigrant Rights of Los Angeles (CHIRLA), Mobilize the Immigrant Vote (MIV), and PICO California, with support from the nation’s largest online Latinx organizing group, Presente.org.</p>
                    <p>There are over seven million eligible, but unregistered, people in California, and five million more that will likely stay home on election day. To counter this, MVP is mobilizing Black, Latino, and Asian Pacific Islander families, immigrants, refugees, faith-based constituencies, and young people, with a goal of registering 80,000 first-time voters by October 24, educating and inspiring 450,000 people to vote in the November 8th General Election, and building to one million by 2018. Together, we work to ensure that the policies passed in California reflect our diverse needs, values, and experiences.</p>

                    <h3>Why</h3>
                    <p>Democracy cannot work for us until it includes us. Our families, friends, and neighbors are heavily impacted by racial profiling, state violence, low wages, and underfunded schools and services. This is why we must be at the forefront of policy change efforts. By voting together, we can win policy changes that lift us all up by rebuilding our neighborhoods, supporting our families, and restoring the promise of opportunity, and overcome the divisions within our communities.</p>

                    <p>Together, we comprise a rising majority in California who can leverage our influence to win policy changes. The power is in our hands and on our ballot. The time is now.</p>
                    <h3>What We Believe</h3>
                    <ul>
                        <li><p><u>People Power:</u> Making government work for us by leveraging our collective power to win policy victories and build a culture of civic participation.</p></li>
                        <li><p><u>Community Investment:</u> Reversing the cycle of disinvestment in our neighborhoods through sufficient and stable funding for schools, clinics, and affordable housing </p></li>
                        <li><p><u>Healthy Neighborhoods:</u> Sustaining the health of our families by protecting our land and ensuring access to clean air and water, affordable housing, and fresh food</p></li>
                        <li><p><u>Uniting Communities:</u> Building a society that values people of color, people of every immigration status, and people who are poor, formerly incarcerated, differently abled, and LGBTQI</p></li>
                        <li><p><u>Solidarity and Safety:</u> Strengthening our social fabric and responding as a united front to the targeting of our communities by law enforcement and the criminal justice system</p></li>
                    </ul>
                    </p>
                    <h3>Our Strategy </h3>
                    <p>With our proven track record of mobilizing the vote, the Million Voters Project will reshape the face of the electorate by delivering one million voters to the polls by 2018. Over the next two years, our targeted organizing will reach people one-on-one, build relationships, and inspire people to vote consistently to reverse the low turnout trends that are hurting our state, our cities, and our families.</p>

                    <p>Our plan is to:</p>
                    <ul>
                        <li><p>Recruit and train a team of 8,000 volunteers who will organize to inform and inspire their neighbors to vote.</p></li>
                        <li><p>Build one-on-one relationships with voters who typically stay home on election day through phone calls, canvassing, and media outreach.</p></li>
                        <li><p>Educate and inspire 450,000 people to vote on November 8th, and one million by 2018 to impact key issues and exercise our collective power.</p></li>
                    </ul>
                </div>
            </div>
        </div><!-- end container-->
    </section>
