<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Who is MVP?</h3>
                    <p><img src="https://pbs.twimg.com/profile_images/753273308984905728/T7oz4FIx.jpg" width="50%" align="left" style="padding:0 10px 0 0;"/>The Million Voters Project (MVP) is an unprecedented movement building the collective power of the growing electorate in California. We mobilize Blacks, Latinos, Asian Pacific Islanders, immigrants, refugees, faith-based constituencies, and young voters to take part in shaping our political landscape. Together, we work to ensure that the policies affecting us will reflect our diverse needs, values, and experiences.</p>
                    <p>MVP is a collaboration of California’s strongest community-based networks: Alliance of Californians for Community Empowerment (ACCE), Asian Pacific Environmental Network (APEN), California Calls, the Coalition for Humane Immigrant Rights of Los Angeles (CHIRLA), Mobilize the Immigrant Vote (MIV), PICO California, and Presente.org.</p>
                </div>
                <div class="col-md-6"><h3>Our Work</h3>
                    <p>The Million Voters Project is engaging the rising majority in California to vote and become active participants in our democracy. We are transforming the electorate by mobilizing over 700,000 new and infrequent voters to the polls in November 2016, and increasing our numbers to one million voters by 2018.</p>
                </div>
                <div class="col-md-6"><h3>Why</h3>
                    <p>Democracy cannot work for us until it includes us. Our families, friends, and neighbors are heavily impacted by racial profiling, state violence, low wages, and underfunded schools and services. This is why we must be at the forefront of policy change efforts. By voting together, we can win policy changes that lift us all up by rebuilding our neighborhoods, supporting our families, and restoring the promise of opportunity, and overcome the divisions within our communities.</p>

                    <p>Together, we comprise a rising majority in California who can leverage our influence to win policy changes. The power is in our hands and on our ballot. The time is now.</p>
                </div>
                <div class="col-lg-12">
                    <h3></h3>
                    <h3>Our Vision for California:</h3>
                        <ul>
                            <li><p><u>People Power:</u> Making government work for us by leveraging our collective power to win policy victories and build a culture of civic participation</p></li>
                            <li><p><u>Community Investment:</u> Reversing the cycle of disinvestment in our neighborhoods through sufficient and stable funding for schools, clinics, and affordable housing </p></li>
                            <li><p><u>Healthy Neighborhoods:</u> Sustaining the health of our families by protecting our land and ensuring access to clean air and water, affordable housing, and fresh food</p></li>
                            <li><p><u>Uniting Communities:</u> Building a society that values people of color, people of every immigration status, and people who are poor, formerly incarcerated, differently abled, and LGBTQI</p></li>
                            <li><p><u>Solidarity and Safety:</u> Strengthening our social fabric and responding as a united front to the targeting of our communities by law enforcement and the criminal justice system</p></li>
                        </ul>
                </div>
            </div>
        </div>
    </section>
