<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>

                    <!-- <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="https://pbs.twimg.com/profile_images/753273308984905728/T7oz4FIx.jpg" width="100%"/>
                </div>
                <div class="col-md-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum urna ut eros pretium pharetra quis in nibh. Etiam at lacus gravida, laoreet nisi id, eleifend elit. Integer viverra erat ipsum, sed tristique neque consectetur ac. Etiam vel porttitor neque. Donec tristique vehicula augue malesuada aliquam. Sed ultricies volutpat justo, vel fringilla dui finibus vitae. Quisque eu turpis turpis. Nam id quam a metus pharetra tincidunt ut vitae justo. Aliquam et purus mattis, faucibus enim vitae, egestas enim.</p>

                    <p>Aliquam elit turpis, eleifend nec bibendum eu, sagittis quis nisl. Fusce mattis sem tincidunt ex accumsan porta. Suspendisse auctor pulvinar nisi, sit amet elementum arcu dapibus et. Ut hendrerit facilisis lacinia. In consectetur maximus nisi consectetur pretium. Suspendisse id commodo ligula. Quisque eros lacus, dictum ut fermentum ac, aliquet eu turpis. Fusce molestie gravida leo, sed iaculis diam mollis eget.</p>
                </div>
            </div>
        </div>
    </section>
