<!-- GOTV Section -->
    <section id="gotvevents">
        <div class="container">
            <div class="row polllocator">
                <div class="col-lg-12 text-center">
                    <img src="/img/polllocator.gif" alt="text WHERE to 225568">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Help us Get Out The Vote!!</h2>
                    <h3><a href="https://somos.presente.org/calendars/gotv-events" target="_blank">Click for an event near you.</a></h3>
                </div>
            </div>
            <div class="row">
                <script src="https://somos.presente.org/assets/embed_calendar_map.js" id="controlsfhift-embed-calendar-map-script" data-calendar-url="https://somos.presente.org/calendars/gotv-events/events/embed"></script>
            </div>
    </section>
