<!-- Team Section -->
    <section id="press">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Press</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-left">
                    <p><a href="#pressModal" data-toggle="modal"
                    data-target="#pressModal"><i class="fa fa-newspaper-o fa-2x" aria-hidden="true" style="color:#{{ site.data.template.color.secondary-dark }};"></i>  MILLION VOTERS PROJECT: Unprecedented Coalition launches, mobilizing diverse California voters to transform politics & electorate (September 26, 2016.)</a></p>
                    <p><a href="#pressModal1" data-toggle="modal"
                    data-target="#pressModal1"><i class="fa fa-newspaper-o fa-2x" aria-hidden="true" style="color:#{{ site.data.template.color.secondary-dark }};"></i> 80,000 NEW, UNLIKELY VOTERS ENTER CALIFORNIA'S ELECTORATE</a></p>
                </div>
            </div>
        </div>
    </section>
