<!-- Press Modals -->
<div class="portfolio-modal modal fade" id="pressModal" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body text-left">
                        <h3>MILLION VOTERS PROJECT: Unprecedented Coalition launches, mobilizing diverse California voters to transform politics & electorate</h3>
                        <hr class="star-primary">
                        <h4>Massive outreach effort to new and infrequent voters kicks off on Voter Registration Day</h4>


                        <p>[California—September 26] The Million Voters Project (MVP), an innovative partnership among California’s most prominent community-based organizations is launching a large scale voter outreach drive on Tuesday, September 27, Voter Registration Day, to increase turnout among the emerging majority in the state. This game-changing campaign will hold events from San Diego to Oakland over next 6 weeks in a first step toward changing the electorate to reflect California’s growing diversity.</p>

                        <p>After a record low voter turnout in 2014, and recent polls predicting that the country’s largest voting blocs will stay home on Election Day, it’s clear that the electoral process is leaving many voters – and potential voters – disaffected. There are over seven million eligible, but unregistered, people in California, and five million more that will likely stay home on election day. To counter this, MVP is mobilizing black voters, Latinos, Asian Pacific Islanders, immigrants, refugees, faith-based constituencies, formerly incarcerated, and young voters, with a goal of registering 80,000 first-time voters by October 24, turning out more than 450,000 voters on November 8, and building to one million by 2018.</p>
                        <ul>
                            <li><p><u>Oakland, 9/27:</u> APEN will be hosting a National Voter Registration Day press conference and canvass in Oakland, Chinatown. Join us at 8:45am at the Pacific Renaissance Plaza, 388 9th Street, Oakland, CA 94607. </li>
                            <li><p><u>Los Angeles, 9/27:</u> CHIRLA joins the Los Angeles County Registrar’s Office for a press conference to celebrate National Voter Registration Day. Taco trucks, games, and information booths; a plane will fly over Los Angeles starting at 9:30am with a large banner reading “Register to Vote/Regístrese Para Votar.” 10am-2pm 12400 Imperial Hwy, Norwalk, CA 90650.  </p></li>
                            <li><p><u>Canvasses and Phonebanks</u> will take place in 47 Get-Out-The-Vote locations from 9/27 through the November 8 Election.</p></li>
                            <li><p><u>Voter Registration Teams</u> will be deployed in 19 Counties of the state through October 24, including Los Angeles, San Diego, Ventura, Santa Barbara, Santa Clara, Alameda, Orange, Kern and Tulare.</p></li>
                        </ul>
                        <p>MVP’s constituents are heavily impacted by racial profiling, state violence, low wages, and underfunded schools and services. MVP’s work to increase civic engagement will center these communities at the forefront of policy change efforts.</p>

                        <p>“There is so much noise and controversy surrounding this election cycle – but that won’t translate into voters coming out to the polls unless we’re able to connect with people directly, through one-to-one personal conversations,” said <b>Karla Zombro, Field Director for California Calls.</b> “Only 40% of new voters cast ballots in California’s June Primary. Our strategy is to start with voter registration, and then engage new and infrequent voters one-on-one to inspire them to get to the polls.” </p>

                        <p>“New Americans make up so many of the flavors, sounds, and textures of life in California. Yet, many of our communities are left out of political decision-making because they are not familiar with our civic processes. Voter registration is a critical first step to building a civically engaged populace that reflects who we are as a state. We are registering voters in hard-to-reach communities in twelve different languages including Arabic, Vietnamese, Somali, Spanish, and Tagalog,” shared <b>Aparna Shah, Executive Director of Mobilize the Immigrant Vote.</b> </p>

                        <p>“We believe that our diversity is our greatest strength,” stated <b>Adam Kruggel, Director of Organizing for PICO California.</b> “We need to embrace the notion that we belong to one another and vote for measures that promote racial inclusion and justice for all people. In California, that means welcoming immigrants, bringing liberty to those who have been held captive by an unjust criminal justice system, and sharing our wealth so that we can build a better future for all of our children.”</p>

                        <p>“We have an opportunity this year to exercise our community's muscle and vote for the issues that impact our daily lives. Our voice, our lives, our needs should be decided by our community without fear of being too bold or too loud. The more we vote, the more respect and accountability we can expect from our elected officials," stated <b>Angelica Salas, Executive Director of CHIRLA.</b></p>

                        <p>"Low-income API immigrants and refugees in Oakland, Richmond and across California have long endured the cumulative impacts of housing insecurity, pollution and climate change. Now, we are a growing political force in the state and we are voting to advance solutions in our neighborhoods, like clean air, renter protections and a democracy that works for all of California," said <b>Miya Yoshitani of Asian Pacific Environmental Network.</b> </p>

                        <p>"With corporations, hedge funds, and real estate developers spending more and more in each election to support issues and candidates that share their vision of profits over people, our communities are under attack in every election. But, we have proven that when we are engaged and organized, not only can we defeat their attacks but we can pass strong policies that benefit our communities," said <b>Joseph Delgado, Campaign Coordinator at Alliance of Californians for Community Empowerment (ACCE) Action.</b></p>

                        <p>"We’ve set an ambitious goal to reach and engage at least one million underrepresented and otherwise ignored voters in California. This powerful convergence is right on time and MVP has the people and the strategy – online and offline – to make our vision of a lasting, growing movement throughout this election cycle and beyond, a reality. It’s the politics of unity, embodied by MVP, that will transform our political culture and political system,” explained <b>Matt Nelson, Executive Director, Presente.org.</b></p>

                        <p>##### </p>

                        <p><i>MVP is a collaboration of California’s strongest community-based networks: Alliance of Californians for Community Empowerment (ACCE), Asian Pacific Environmental Network (APEN), California Calls, the Coalition for Humane Immigrant Rights of Los Angeles (CHIRLA), Mobilize the Immigrant Vote (MIV), and PICO California, with support from the nation’s largest online Latinx organizing group, Presente.org.</i></p>


                    </div> <!-- end of modal body -->
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                </div> <!-- end of col 8-->
            </div> <!-- end of row -->
        </div> <!-- end of container-->
    </div> <!-- end of modal content-->
</div> <!-- end of pressModal -->
